/*******************************************
*	Theme Name: Market
*	Author: Magentech
*	Author URI: http://www.magentech.com
*	Version: 1.0.0
*	Description: This is html5 Sass template 
*******************************************/
/*===============================================
	[SASS DIRECTORY ]
	
    [1] Minxin Link
    [2] Minxin Buton
    [3] Minxin Triangle
   
==============================================*/
.no-margin {
  margin: 0 !important; }

.marginbottom__3x {
  margin-bottom: 30px; }

@-webkit-keyframes animLoadedLogo {
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1); } }
@keyframes animLoadedLogo {
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1); } }
@-webkit-keyframes animLoadedLoader {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1); } }
@keyframes animLoadedLoader {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1); } }
@-webkit-keyframes animLoadedHeader {
  to {
    -webkit-transform: translate3d(0, -100%, 0); } }
@keyframes animLoadedHeader {
  to {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }
@-webkit-keyframes animInitialHeader {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0); } }
@keyframes animInitialHeader {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0);
    transform: translate3d(0, 800px, 0); } }
/*******************************************************
  Style Color
********************************************************/
/**************************************************************
	  Footer Wrapper
**************************************************************/
.footer-container {
  background-color: #dddddd;
  padding: 34px 0 0; }

.footer-top .footer-lines {
  color: #E4E4E4;
  margin-top: 0; }
  .footer-top .footer-lines:before {
    content: "";
    display: block;
    border-top: 1px solid #ccc; }
.footer-top .module h3.modtitle {
  /* [4] */
  /* [6] */
  /* [6] */
  /* [7] */
  font-size: 14px;
  /* [8] */
  font-size: 1.4rem;
  /* [8] */ }
.footer-top .module ul.menu li > a:before {
  content: "\f101";
  font-family: "FontAwesome";
  margin-right: 5px;
  display: inline-block; }

.contact-address li {
  color: #444444;
  padding: 0 0 5px 41px;
  position: relative;
  z-index: 1;
  line-height: 18px;
  min-height: 40px; }
.contact-address span {
  /* [4] */
  /* [6] */
  /* [6] */
  /* [7] */
  font-size: 18px;
  /* [8] */
  font-size: 1.8rem;
  /* [8] */
  left: 0px;
  position: absolute;
  background-color: #969696;
  top: 4px;
  color: white;
  border-radius: 2px;
  width: 30px;
  line-height: 30px;
  text-align: center; }
.contact-address > li:nth-child(2) {
  padding-top: 10px; }
  .contact-address > li:nth-child(2) span {
    margin-top: -1px; }
.contact-address > li:last-child {
  padding-top: 15px; }
  .contact-address > li:last-child span {
    margin-top: 7px; }

.footer-bottom-block {
  background: #444;
  color: #fff;
  padding: 8px 0; }
  .footer-bottom-block .payment-footer img {
    margin: 0 3px; }

ul.footer-directory {
  list-style: outside none none;
  padding: 0;
  margin: 0; }
  ul.footer-directory li {
    padding-bottom: 2px; }
    ul.footer-directory li h4 {
      color: #333333;
      display: inline-block;
      font-weight: bold;
      line-height: 22px;
      text-transform: uppercase;
      /* [4] */
      /* [6] */
      /* [6] */
      /* [7] */
      font-size: 11px;
      /* [8] */
      font-size: 1.1rem;
      /* [8] */
      margin: 0 5px 0 0; }

/*# sourceMappingURL=footer1.css.map */
